<% include include/common.html %>

<div><h2>参数设置向导</h2></div>
<br>
<div>

    <h4>文档记录说明</h4>
</div>

<div>
    
    <image src="/public/image/文档记录说明.JPG"></image>
</div>

<div>

    <h4>资源目录说明</h4>
</div>

<div>
    <div>
        网站站点根目录\resouce\
    </div>
    <br>
    <image src="/public/image/资源目录说明.JPG"></image>
</div>
<br>
<div>
    <h4>模板说明</h4>
</div>

<div>
    
    <image src="/public/image/转段模板1.JPG"></image>
</div>


<div>
    
    <image src="/public/image/转段模板2.JPG"></image>
</div>

<br>
<div>
    <h4>文本格式</h4>
</div>
<br>
<div>

    <code>
        {"test1": <p>
            {<p>
                "@@text1":"转段text1",<p>
                "@@text2":"转段text2"<p>
            }<p>
        }<p>
    </code>
</div>

<br>
<div>
    <h4>图片命名规则</h4>
</div>
<br>
<div>
    <div>
        网站站点根目录\resouce\image\目录名\
    </div>
    <br>
    <div>
        image1.jpg<p>
        image2.jpg<p>
        ...
    </div>
</div>

<br>
<div>
    <h4>电子表格说明</h4>
</div>
<br>
<div>
    网站站点根目录\resouce\excel\xxx.xlsx
    <div>
        sheet1<p>
        sheet2<p>
        ...
    </div>
</div>

<br>
<div>
    <h4>附件命名规则</h4>
</div>
<br>
<div>
    网站站点根目录\resouce\attachment\文档名\
    <div>
        Microsoft_Excel_Worksheet.xlsx<p>
        Microsoft_Word_Document.docx<p>
        Microsoft_Word_Document1.docx<p>
        Microsoft_Excel_Worksheet2.xlsx<p>
        Microsoft_Word_Document3.docx<p>
        Microsoft_Excel_Worksheet4.xlsx<p>
        ...
    </div>
</div>




<% include include/foot.html %>