<% include include/common.html %>


        <div><h2>文档列表</h2></div>
            <br>

            <%for(var i=0;i<doconfigall.doconfigall.length;i++){%>
                <div class="row" >
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        序号
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        记录名
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        模板名称
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        输出名称
                    </div>
                </div>
                <br>
                <div class="row" style="border:1px solid blue;">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        <%=doconfigall.doconfigall[i].doc_id%>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        <%=doconfigall.doconfigall[i].doc_name%>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        <%=doconfigall.doconfigall[i].doc_template%>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        <%=doconfigall.doconfigall[i].doc_outpath%>
                    </div>
                </div>
                <br>
                <div class="row" >
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                        字符文件名
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                        图片目录名
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                        表格文件名
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                        附件目录名
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                        备注
                    </div>
                </div>
                <br>
                <div class="row"style="border:1px solid blue;">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                        <%=doconfigall.doconfigall[i].doc_label_text%>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                        <%=doconfigall.doconfigall[i].doc_image_dir%>
                    </div>    
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                        <%=doconfigall.doconfigall[i].doc_excel%>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                        <%=doconfigall.doconfigall[i].doc_attach_dir%>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                        <%=doconfigall.doconfigall[i].doc_rmrk%>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        <input   type="checkbox"   value="是否生成文档"    name="checkbox_doc"/> 生成文档
                    </div>    
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        <button class="btn btn-primary reparidoc" id="repairdoc<%=doconfigall.doconfigall[i].doc_name%>" name="<%=doconfigall.doconfigall[i].doc_name%>">修改</button>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        <button class="btn btn-info deletedoc" id="deletedoc<%=doconfigall.doconfigall[i].doc_name%>" name="<%=doconfigall.doconfigall[i].doc_name%>">删除</button>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        <button class="btn btn-warning makedoc" id="makedoc<%=doconfigall.doconfigall[i].doc_name%>" name="<%=doconfigall.doconfigall[i].doc_name%>"
                            value=<%=csrf%>
                            >生成文档</button>
                    </div>
                </div>
                <hr>
            <%}%>

                



<% include include/foot.html %>
    
