<% include include/common.html %>

        <div>home test</div>
        <div>
    
            <ul>
                <%for(var i=0;i<doconfigall.doconfigall.length;i++){%>
                    <li><%=doconfigall.doconfigall[i].doc_id%></li>
                    <li><%=doconfigall.doconfigall[i].doc_name%></li>
                    <li><%=doconfigall.doconfigall[i].doc_template%></li>
                    <li><%=doconfigall.doconfigall[i].doc_outpath%></li>
                    <li><%=doconfigall.doconfigall[i].doc_label_text%></li>
                    <li><%=doconfigall.doconfigall[i].doc_image_dir%></li>
                    <li><%=doconfigall.doconfigall[i].doc_excel%></li>
                    <li><%=doconfigall.doconfigall[i].doc_rmrk%></li>
                <%}%>
    
               
            </ul>
            
    
        </div>


        
<% include include/foot.html %>
    
