<% include include/common.html %>

<div><h2>新增文档参数</h2></div>

<br>
<div>
        <!-- <div id="newdocform"> -->
    <form id="newdocform" method="POST" action="/insertonedoc">
        <div class="form-group">
            <label for="doc_name">记录名 :</label>
            <input type="text" class="form-control" id="doc_name" name="doc_name" placeholder="请输入记录名 举例:test1">
        </div>
        <div class="form-group">
            <label for="doc_template">模板文件:</label>
            <input type="text" class="form-control" id="doc_template" name="doc_template" placeholder="请输入模板文件名 举例:test1.docx">
        </div>
        <div class="form-group">
                <label for="doc_outpath">输出文件:</label>
                <input type="text" class="form-control" id="doc_outpath" name="doc_outpath" placeholder="请输入输出文件名 举例：test11.docx">
        </div>
        <div class="form-group">
                <label for="doc_label_text">文本数据:</label>
                <input type="text" class="form-control" id="doc_label_text" name="doc_label_text" placeholder="请输入文本数据文件名 举例： text1.json">
        </div>
        <div class="form-group">
                <label for="doc_image_dir">图片目录:</label>
                <input type="text" class="form-control" id="doc_image_dir" name="doc_image_dir" placeholder="请输入图片目录名 举例： test1">
        </div>

        <div class="form-group">
                <label for="doc_excel">电子表格文件:</label>
                <input type="text" class="form-control" id="doc_excel" name="doc_excel" placeholder="请输入电子表格文件名 举例： excel1.xlsx">
        </div>

        <div class="form-group">
                <label for="doc_image_dir">附件目录:</label>
                <input type="text" class="form-control" id="doc_attach_dir" name="doc_attach_dir" placeholder="请输入附件目录名 举例： test1">
        </div>

        <div class="form-group">
                <label for="doc_rmrk">备注:</label>
                <input type="text" class="form-control" id="doc_rmrk" name="doc_rmrk" placeholder="请输入备注">
        </div>

        <div class="form-group">
                        <label for="_csrf">备注:</label>
                        <input type="hidden" class="form-control" id="_csrf" name="_csrf" value="<%=csrf%>">
        </div>
        <button type="submit" class="btn btn-primary" id="btninsertone" value=<%=csrf%>>提交新增</button>
    </form>
        <!-- </div> -->
</div>


<% include include/foot.html %>