<% include include/common.html %>

<div>

    <h2>上传文件</h2>
</div>


<br>

<br>

<div>

    <h3>选择参数记录</h3>
</div>
<div>

    <select id="slpk" class="selectpicker" >
        <%for(var i=0;i<doconfigall.doconfigall.length;i++){%>
        <option><%=doconfigall.doconfigall[i].doc_name%></option>
        <%}%>
    </select>
    
</div>


<br>

<br>

<div>


    <!-- <button class="btn btn-primary" id="btntest1">测试按钮1</button> -->

    <div>
        <h4>指定模板文件</h4>
    </div>
    <div id="doctemplate">
        <input id="inputdoc_template" type="file"></input>
    </div>
    <div id="doctemplatelist">
    </div>
    <div id="doctemplatesubstatus">
        </div>
    <br>

    <br>

    <div>
        <h4>指定输入文本文件</h4>
    </div>
    <div>
        <input id="inputdoc_label_text" type="file"></input>
    </div>
    <div id="inputdoc_label_textlist">
    </div>
    <div id="inputdoc_label_textsubstatus">
    </div>
    <br>

    <br>

    <div>
        <h4>选择图片(多选)</h4>
    </div>
    <div>
        <!-- 目录 -->
        <!-- <input id="inputdoc_image_dir" type="file" webkitdirectory></input> -->
        <!-- 多选文件 -->
        <input id="inputdoc_image_dir" type="file" multiple="true"></input>
    </div>
    <div id="inputdoc_image_dirlist">
    </div>
    <div id="inputdoc_image_dirsubstatus">

    </div>

    <br>
    
    <br>

    <div>
        <h4>指定电子表格文件</h4>
    </div>
    <div>
        <input id="inputdoc_excel"  type="file"></input>
    </div>
    <div id="inputdoc_excellist">
    </div>
    <div id="inputdoc_excelstatus">
    </div>
    <br>
    
    <br>
    <div>
        <h4>选择附件(多选)</h4>
    </div>
    <div>
        <input id="inputdoc_attach_dir" type="file" multiple="true"></input>
    </div>
    <div id="inputdoc_attach_dirlist">
    </div>
    <div id="inputdoc_attach_dirstatus">
    </div>
    <br>
    
    <br>

    <div class="row"> 
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button id="formdatasub" class="btn btn-primary" value=<%=csrf%>>上传文件</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <button id="scanfile" class="btn btn-info" value=<%=csrf%> data-toggle="modal" data-target="#scanfilemodal">扫描当前目录</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <button id="builddir" class="btn btn-warning" value=<%=csrf%> data-toggle="modal" data-target="#builddirmodal">一键建立目录</button>
        </div>
    </div>



    
    <div class="modal fade" id="scanfilemodal" tabindex="-1" role="dialog" aria-labelledby="scanfilemodalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="scanfilemodalLabel">
                            目录扫描结果
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <br>
                    <div>模板文件</div>
                    <div id="template"></div>


                    <br>
                    <div>输出文件</div>
                    <div id="output"></div>
                    

                    <br>
                    <div>文本文件</div>
                    <div id="text"></div>

                    <br>
                    <div>图片文件</div>
                    <div id="image"></div>

                    <br>
                    <div>电子表格</div>
                    <div id="excel"></div>

                    <br>
                    <div>附件文件</div>
                    <div id="attach"></div>
                    



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <!-- <button type="button" class="btn btn-primary">
                        提交更改
                    </button> -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


    <div class="modal fade" id="builddirmodal" tabindex="-1" role="dialog" aria-labelledby="builddirmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="builddirmodalLabel">
                                目录处理结果
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
    
                        <br>
                        <div>图片目录</div>
                        <div id="imagedir"></div>
    
                        <br>
                        <div>附件目录</div>
                        <div id="attachdir"></div>
                        
    
    
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <!-- <button type="button" class="btn btn-primary">
                            提交更改
                        </button> -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>




</div>

<% include include/foot.html %>