<% include include/common.html %>

<div>

    <h2>上传文件</h2>
</div>


<br>

<br>

<div>

    <h3>选择参数记录</h3>
</div>
<div>

    <select id="slpk" class="selectpicker" >
        <%for(var i=0;i<doconfigall.doconfigall.length;i++){%>
        <option><%=doconfigall.doconfigall[i].doc_name%></option>
        <%}%>
    </select>
    
</div>


<br>

<br>

<div>

    <h3>指定上传路径</h3>

    <div>
        <input type="file" ></input>
    </div>

    <div>
        <input type="file" directory="" nwdirectory=""></input>
    </div>
</div>

<% include include/foot.html %>