<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/public/bootstrap-treeview/src/css/bootstrap-treeview.css" rel="stylesheet" type="text/css"/>
    
</head>
<body>

<div class="container">
    <br>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >

            <!-- <div>
                <div><h2>菜单</h2></div>
                <br>
                <div><button class="btn btn-primary">新增</button></div>
                <div><button class="btn btn-warning">批量生成文档</button></div>
            </div> -->
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div id="tree">

            </div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" >
            

           
    

    








        
       
            

    
