

</div>



<script src="/public/jquery/dist/jquery.js" type="text/javscript"></script>
<script src="/public/bootstrap/dist/js/bootstrap.js" type="text/javscript"></script>
<script src="/public/js/home1.js" type="text/javscript"></script>



<script type="text/javascript">
//  $(document).ready(function() {
//   //依赖于jQuery的代码
//   $("#btnhello").on("click",function(e){
//             alert("js");
//   })
//  });

 console.log(document.getElementById("btnhello"))
 console.log($("#btnhello"))
        
</script>
</body>

</html>